<!DOCTYPE html>
<html>
<head>
  <title><%= document_title %></title>
  <%= stylesheet_link_tag    'customer', media: 'all', 'data-turbolinks-track' => 'reload' %>
  <%= javascript_include_tag 'customer', 'data-turbolinks-track' => 'reload' %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render 'customer/shared/header' %>
<%= render 'shared/flash_message' %>

<%= yield %>

</body>
</html>
